---
import fundo3 from '../fotos/fundo-footer.png'
import fundo2 from '../fotos/fundo2.png'
import logo from '../fotos/logo-footer.png'
import social from '../fotos/Social.png'
---

<section class="min-h-screen pt-10 relative" style={{ backgroundImage: `url(${fundo2.src})`,  backgroundSize: 'cover', 
backgroundPosition: 'center', 
backgroundRepeat: 'no-repeat' }}>


    <div class="absolute bottom-0 left-0 w-full" >
        <img src={fundo3.src} class="w-full"/>

        <div class="absolute bottom-0 left-10 pb-8">
            <img class="w-60" src={logo.src} />
            <img class="w-60" src={social.src}/>
        </div>

        <div class="absolute bottom-0 right-40 pb-8 text-white">
            <div class="flex flex-col">
            <h2 class="text-2xl text-white">Conteúdos</h2>
            <p >Kits passados</p>
            <p>Clube de membros</p>
            <p>Blog</p>
        </div>
        </div>
    </div>

</section>