---
import Navbar from "./Navbar.astro"
import fundo from '../fotos/fundo.png';
---

<div
style={{ backgroundImage: `url(${fundo.src})` }}>
<div class="p-10">
<Navbar/>
</div>

  <div class="hero  min-h-screen text-center ">
    <div class="max-w-lg">
        
      <h1 class="mb-5 text-4xl text-white font-bold">Desperte a sua imaginação e explore novos mundos</h1>
      <p class="mb-5 text-white">
        Junte-se ao clube de assinatura Encantos Literários e descubra maravilhas e aventuras a cada página
      </p>
     
    </div>

  </div>

</div>