---
import logo from '../fotos/logo.png';
import titulo from '../fotos/titulo.png';

---

<div class="navbar">
    <div class="flex-1">
      <img src={logo.src} />
      <img src={titulo.src} />
    </div>
    <div class="flex-none">
      <button class="bg-pink-dark p-2 rounded-lg">
        <p class="text-white">Assinar</p>
      </button>
    </div>
  </div>